
  <section id="footer">
      <div class="container-fluid footer-container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">InfoIntellect &#xa9; 2020</a>
                </div>
                <div class="col-md-3">
                    <a href="#">Careers</a>
                </div>
                <div class="col-md-3">
                    <a href="#">Contact</a>
                </div>
                <div class="col-md-3">
                  <a href="#">Locations</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <a href="#" class="fa fa-facebook fa-2x"></a>
                    <a href="https://www.linkedin.com/company/infointellect-global-solution-llc/" class="fa fa-linkedin fa-2x"></a>
                    <a href="#" class="fa fa-twitter fa-2x"></a>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                  <div class="col-12">
                      <a>Made with &#9829; by Rehaan Mazid</a>
                  </div>
            </div>
      </div>
  </section>


</div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://kit.fontawesome.com/91d6caabb4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/CountUp.min.js"></script>
    <script src="js/index.js" charset="utf-8"></script>

  </body>
</html>
