<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Bridging the gap between Tideous Data and Smart Business Leads, customized for you.">
    <meta name="viewport" content="width=">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>InfoIntellect - Business Leads</title>
    <link rel="shortcut icon" type="image/jpg" href="pics/favicon.jpg"/>
    <link rel="apple-touch-icon" sizes="180x180" href="pics/favicon.jpg">
  </head>

  <body>
    <div class="parallax">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
                  <div class="container-fluid navbar-container">
                      <a class="navbar-brand" href="/#title">InfoIntellect</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/#title">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/#services">What We Offer</a></li>
                                <li><a class="dropdown-item" href="/technographics">Technographics</a></li>
                                <li><a class="dropdown-item" href="/icp">Ideal Customer Profiling</a></li>
                                <li><a class="dropdown-item" href="/competitive-intelligence">Competitive Intelligence</a></li>
                                <li><a class="dropdown-item" href="/tam">Total Addressable Market</a></li>
                              </ul>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Resources</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="/contact">Contact</a>
                            </li>
                          </ul>
                      </div>
                  </div>
            </nav>
