<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Bridging the gap between Tideous Data and Smart Business Leads, customized for you.">
    <meta name="viewport" content="width=">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>InfoIntellect - Business Leads</title>
    <link rel="shortcut icon" type="image/jpg" href="pics/favicon.jpg"/>
    <link rel="apple-touch-icon" sizes="180x180" href="pics/favicon.jpg">
  </head>

  <body>
    <div class="parallax">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
                  <div class="container-fluid navbar-container">
                      <a class="navbar-brand" href="/#title">InfoIntellect</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/#title">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/#services">What We Offer</a></li>
                                <li><a class="dropdown-item" href="/technographics">Technographics</a></li>
                                <li><a class="dropdown-item" href="/icp">Ideal Customer Profiling</a></li>
                                <li><a class="dropdown-item" href="/competitive-intelligence">Competitive Intelligence</a></li>
                                <li><a class="dropdown-item" href="/tam">Total Addressable Market</a></li>
                              </ul>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Resources</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="/contact">Contact</a>
                            </li>
                          </ul>
                      </div>
                  </div>
            </nav>


            <!-- Title-->
            <section id="title" class="content">
              <div class="overlay"></div>
              <video preload="none" poster="pics/firstbgbg.webp" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="video/firstbg.mp4" type="video/mp4">
              </video>
              <div class="container h-100">
                <div class="d-flex h-100 align-items-center">
                  <div class="row">
                      <div class="col-lg-7">
                        <div class="w-100 text-white heading-wrapper">
                          <h1 class="main-heading">Bridging Gaps for <span class="color-highlight-light">Smart Business</span> Leads</h1>
                          <h3 class="main-heading-2">Bridge the gap between Tideous Data and Smart Business Leads, customized for you.</h3>
                          <div class="form-button">
                            <a href="#contact"><button class="btn btn-light heading-btn">Experience InfoIntellect</button></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-5 nos-home">
                        <div class="row text-center">
                            <div class="col-lg-12 features-item">
                              <div class="font-awesome"><i class="fas fa-microchip fa-icon fa-7x"></i></div>
                              <h2 class="features-medium-heading number" id="number1">0</h2>
                              <h4>Technologies Tracked</h4>
                            </div>

                            <div class="col-lg-6 features-item">
                              <div class="font-awesome"><i class="far fa-id-badge fa-icon fa-7x"></i></div>
                              <h2 class="features-medium-heading number" id="number2">0</h2>
                              <h4>Verified Contacts</h4>
                            </div>

                            <div class="col-lg-6 features-item">
                              <div class="font-awesome"><i class="far fa-building fa-icon fa-7x"></i></div>
                              <h2 class="features-medium-heading number" id="number3">0</h2>
                              <h4>Companies Tracked</h4>
                            </div>
                        </div>
                      </div>

                  </div>

                </div>
              </div>
            </section>

            <!-- features -->

              <section id="features">
                  <div class="container-fluid features-container fade-in">
                      <div class="row">
                          <div class="col-lg-6 features-item">
                            <div class=" f-card">
                              <div class="row features-row">
                                <div class="col-lg-4 icon-container">
                                  <div class="font-awesome"><i class="fas fa-check-circle fa-icon fa-6x"></i></div>
                                </div>
                                <div class="col-lg-8">
                                  <h3 class="features-medium-heading">Technology</h3>
                                  <p>Advanced data mining from text, image and video sources, curated further by human data experts</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-6 features-item">
                            <div class="f-card">
                              <div class="row features-row">
                                <div class="col-lg-4 icon-container">
                                  <div class="font-awesome"><i class="fas fa-bullseye fa-icon fa-6x"></i></div>
                                </div>
                                <div class="col-lg-8">
                                  <h3 class="features-medium-heading">Relevance</h3>
                                  <p>Frequent updates to data sets to make them more relevant to suit the needs of your business.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-6 features-item">
                            <div class="f-card">
                              <div class="row features-row">
                                <div class="col-lg-4 icon-container">
                                  <div class="font-awesome"><i class="fas fa-heart fa-icon fa-6x"></i></div>
                                </div>
                                <div class="col-lg-8">
                                  <h3 class="features-medium-heading">Filters</h3>
                                  <p>Advance filters based on location, technology, position, company size or revenue to help you find very specific data sets.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-6 features-item ">
                            <div class="f-card">
                              <div class="row features-row ">
                                <div class="col-lg-4 icon-container">
                                  <div class="font-awesome"><i class="fas fa-tag fa-icon fa-6x"></i></div>
                                </div>
                                <div class="col-lg-8">
                                  <h3 class="features-medium-heading">Pricing</h3>
                                  <p>We offer flexible pricing to help meet the specific requirements of your business, from start ups to large scale enterprises.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </section>



    <!-- Counters -->

      <section id="counters">
          <div class="container-fluid counters-container fade-in">
              <div class="row">
                  <div class="col-lg-4 features-item">
                    <div class="font-awesome"><i class="fas fa-microchip fa-icon fa-7x"></i></div>
                    <h2 class="features-medium-heading number2" id="number4">0</h2>
                    <h4>Technologies Tracked</h4>
                  </div>

                  <div class="col-lg-4 features-item">
                    <div class="font-awesome"><i class="far fa-id-badge fa-icon fa-7x"></i></div>
                    <h2 class="features-medium-heading number2" id="number5">0</h2>
                    <h4>Verified Contacts</h4>
                  </div>

                  <div class="col-lg-4 features-item">
                    <div class="font-awesome"><i class="far fa-building fa-icon fa-7x"></i></div>
                    <h2 class="features-medium-heading number2" id="number6">0</h2>
                    <h4>Companies Tracked</h4>
                  </div>
              </div>
          </div>
      </section>

      <!-- Services-->


              <section id="services">
              <div class="overlay">
                <div class="container-fluid-services">
                    <h2 class="title-headings">What We Offer</h2>
                    <h3 class="service-para">Gain insights about products, services, partners, and competitors.</h3>

                    <div class="row ">
                        <div class="col-lg-6 services-col from-down slide-in">
                          <div class="card">
                              <div class="card-body">
                                <div class="font-awesome"><i class="fab fa-searchengin fa-7x"></i></div>
                                <h3 class="card-title features-medium-heading">Ideal Customer Profiling</h3>
                                <p class="card-text">Give yourself an edge by identifying and targeting customers best suited for your product, with less work.</p>
                                <a href="/icp" class="btn btn-outline-light btn-lg service-btn">Explore</a>
                              </div>
                          </div>
                        </div>

                        <div class="col-lg-6 services-col from-down slide-in">
                          <div class="card">
                              <div class="card-body">
                                <div class="font-awesome"><i class="far fa-chart-bar fa-7x"></i></div>
                                <h3 class="card-title features-medium-heading">Technographics</h3>
                                <p class="card-text">Stay one step ahead with technographic data by targeting at the right prospects. </p>
                                <a href="/technographics" class="btn btn-light btn-lg service-btn">Explore</a>
                              </div>
                          </div>
                        </div>

                        <div class="col-lg-6 services-col from-down slide-in">
                          <div class="card">
                              <div class="card-body">
                                <div class="font-awesome"><i class="far fa-chart-bar fa-7x"></i></div>
                                <h3 class="card-title features-medium-heading">Total Addressable Market</h3>
                                <p class="card-text">Recognise your client base to amplify  personalisation with Total Addressable Market.</p>
                                <a href="/tam" class="btn btn-light btn-lg service-btn">Explore</a>
                              </div>
                          </div>
                        </div>

                        <div class="col-lg-6 services-col from-down slide-in">
                          <div class="card">
                              <div class="card-body">
                                <div class="font-awesome"><i class="fas fa-brain fa-7x"></i></div>
                                <h3 class="card-title features-medium-heading">Competitive Intelligence</h3>
                                <p class="card-text">Plunge into the market by understanding competitors and trends with data-backed insights and strategies.</p>
                                <a href="/competitive-intelligence" class="btn btn-light btn-lg service-btn">Explore</a>
                              </div>
                          </div>
                        </div>

                    </div>
                </div>
              </div>
              </section>




    <!-- Testimonials -->

      <section id="testimonials">
        <div class="container-fluid">
            <h2 class="title-headings">Testimonials</h2>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-pause="hover" data-interval="2500">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <h3 class="features-medium-heading"><sup><i class="fas fa-quote-left"></i></sup> Our lead generation had been mostly inbound-focused with PPC, so there was hardly any way to guarantee the quality of a lead, the <span class="color-highlight-light">quality of the data</span> has enabled us to execute on a <span class="color-highlight-light">highly successful</span> outbound sales motion <sup><i class="fas fa-quote-right"></i></sup></h3>
                    <em>Eddie B</em>
                    <br>
                    <em>Head of Global Account Development</em>
                    <br>
                    <em>Training and Learning startup</em>
                  </div>
                  <div class="carousel-item">
                    <h3 class="features-medium-heading"><sup><i class="fas fa-quote-left"></i></sup> We like working with <span class="color-highlight-light"> smart intelligent </span> email list vendors – InfoIntellect is one of our <span class="color-highlight-light">trusted </span>list vendors. <sup><i class="fas fa-quote-right"></i></sup> </h3>
                    <em>Franky J</em>
                    <br>
                    <em>Vice President</em>
                    <br>
                    <em>Nonprofit Organization</em>
                  </div>
                 </div>
            </div>
        </div>
      </section>

      <!-- Partners-->
      <section id="contact">
        <div class="container-fluid">
            <h2 class="title-headings">Let's Get You Business Ready</h2>
            <div class="row">
              <div class="col-lg-6">
                <form action="/contact" method="post">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                  </div>

                  <div class="form-group" action="">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" name="email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="number">Contact No.</label>
                    <input type="text" class="form-control" id="number" placeholder="Contact" name="contact" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your contact with anyone else.</small>
                  </div>

                  <div class="form-button">
                    <button type="submit" class="btn btn-light contact-btn">Submit</button>
                  </div>

                </form>
              </div>
              <div class="col-lg-6 contact-side align-items-center text-center">
                  <p class="contact-para">Research is the difference between sale and no sale. What if we told you that we are just an aid who
                     happens to have complete, precisely accurate knowledge of your industry, and can deliver key information to execute your 
                     strategy with ease and efficiency? Infointellect, backed by Big Data, is someone you would want on your side for increased
                      resourcefulness, over and over.</p>
              </div>
            </div>

        </div>
      </section>

<%- include("partials/footer") -%>
